/*
[Table of Contents]

1. RESET
2. GENERAL
3. H TITLES
4. HEADER AND HEADER NAVIGATION
5. CUSTOM BUTTONS
6. LEFT AND RIGHT SLIDE PANELS
    6-1. USER ACCOUNT SIDEBAR RIGHT
    6-2. MAIN NAVIGATION SIDEBAR LEFT
7. PAGES LAYOUT GENERAL
    7-1. SWIPE SLIDER
    7-2. FEATURED LISTS
    7-3. TEAM DESIGN LAYOUT
    7-4. MUSIC LIST DESIGN LAYOUT
8. POPUPS
9. SHOP LAYOUT
     9-1. SHOP ITEM PAGE 
     9-3. SUCCESS PAGE
10. PHOTO GALLERY
11. BLOG LAYOUT
12. FORMS
      12.1 LOGIN FORM
      12.2 CONTACT FORM
13. TABS / ACCORDION / TABLES
14. MEDIA QUERIES
*/
/*===============================================*/
/* 1. RESET		 						 */
/*===============================================*/
@import "reset.css";

/*===============================================*/
/* 2. GENERAL		 						 */
/*===============================================*/	
/*私有前缀名：-webkit-代表chrome、safari私有属性（支持）；-moz-代表firefox浏览器私有属性；-ms-代表IE浏览器私有属性；-o-代表Operai私有属性；*/
html,
body {
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
	color: #232323;
	font-size: 14px;
	line-height: 1.4;
	width: 100%;
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
	font-weight:300;
}
.clear{  /*清除*/
	clear:both; 
	display:block;
}
.clearleft{ 
	clear:both; 
	float:left; 
	display:block;
}
a {
	text-decoration: none;
	color: #484848;
}
p{
	padding:0px;
	margin:0px;
	line-height:20px;
}
blockquote{
	background:#5cd1ea;
	padding:20px;
	margin:0 0 20px 0;
	font-size:22px;
	line-height:30px;
	font-weight:300;
}
blockquote span{
	display:block;
	color:#222222;
	font-weight:700;
	font-size:18px;
	text-transform:uppercase;
	line-height:30px;
}

#mobile_wrap{ /*index-body*/
	width:100%;
	margin:auto;
}
/*===============================================*/
/* 3. H TITLES		 						 */
/*===============================================*/	
h1, h2, h3, h4, h5, h6{
	font-weight:300;
	letter-spacing:-0.5px;
	color:#232323;
	padding:0 0 20px 0;
	margin:0;
}
h1{
	font-size:60px;
	
}
h2{
	font-size:26px;
}
h3{
	font-size:22px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:16px;
}
h2.page_title{ /*其他页面标题*/
	width:90%;
	font-size:20px;
	line-height:25px;
	font-weight:300;
	padding:20px 0 15px 0;
	margin:0px 5% 15px 5%;
	border-bottom:1px #f0f0f0 solid;
	display:inline-block;
	letter-spacing:-0.5px;
}
h2.page_title span{
	font-size:12px;
	font-weight:700;
	letter-spacing:0.5px;
	background-color:#5cd1ea;
	padding:5px;
	margin:0 0 0 5px;
}
h2.blog_title{ /*健康咨询详情标题*/
	width:90%;
	font-size:24px;
	line-height:28px;
	font-weight:300;
	padding:10px 0 15px 0;
	margin:0px 5% 15px 5%;
	border-bottom:1px #f0f0f0 solid;
	display:inline-block;
	letter-spacing:-0.5px;
}

/*===============================================*/
/* 4. HEADER AND HEADER NAVIGATION */
/*===============================================*/
.navbarpages{ /*顶部菜单和个人中心icon*/
	position: fixed;
	top:0px;
	width:100%;
	height:70px;
	z-index:999999;
}
/* HEADER LEFT */	
	.navbar_left{ /*菜单icon*/
	float:left;
	width:5%;
	padding:0 0 0 2%;
	text-align:left;
}
.navbar_left img{ /*菜单icon图*/
	display:inline-block;
	max-width:40%;
	padding:20px 0 0 0;
}
.logo_text{ 
	font-size:32px;
	line-height:70px;
	font-weight:900;
}
.logo_text a{
	color:#222222;
}
.logo_image a img{ /*顶部栏logo*/
	display:inline-block;
	max-width:80%;
	padding:15px 0 0 0;
}
/* HEADER CENTER */	
.navbar_center{
	float:left;
	width:86%;
	padding:0;
	text-align:center;
}
/* HEADER RIGHT */	
.navbar_right{ /*个人中心icon*/
	float:right;
	width:5%;
	text-align:center;
	padding:0;
}
.navbar_right img{ /*个人中心icon图*/
	display:inline-block;
	max-width:40%;
	padding:20px 0 0 0;
}
.whitebg{ /*白色背景*/
	background-color:#ffffff;	
}
.graybg{ /*灰色背景*/
	background-color:#f7f7f7;	
}
/*===============================================*/
/* 5. CUSTOM BUTTONS */
/*===============================================*/	
a.button_full{ /*通用大按钮*/
width:100%; 
display:inline-block;
padding:20px 0;
margin:0 auto 20px auto;
font-size:18px;
text-align:center;
}
a.button_small{
background-color:#5cd1ea; 
display:inline-block;
color:#222222; 
padding:10px 20px;
text-align:center;
-webkit-appearance: none;
}
.button {
border: none;
color: #222222;
text-decoration: none;
text-align: center;
display: block;
border-radius: 0px 0px 0px 0px;
line-height: 38px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
appearance: none;
background: none;
padding: 0 10px;
margin: 0;
height:40px;
white-space: nowrap;
position: relative;
overflow: hidden;
text-overflow: ellipsis;
font-size: 14px;
font-family: inherit;
cursor: pointer;
background-color:#f7f7f7;
}
.button.active { /*选中的按钮*/
background: #5cd1ea;
color: #222222;
}
/*切换选项卡*/ 
.buttons-row .button:first-child { /*选择每一个buttons-row中的button元素并设置样式，其中button元素是其父元素buttons-row的第一个子元素*/
	border-radius: 0px 0px 0px 0px;
	border-left-width: 0px;
}
.buttons-row .button:last-child { /*最后一个子元素*/
	border-radius: 0px 0px 0px 0px;
}
.btyellow{ /*通用大按钮的颜色*/
background-color:#5cd1ea;
color:#222222; 
}
.btmint{ /*联系客服小按钮*/
background-color:#61bb7e;
color:#fff;
}
/*===============================================*/
/* 6. LEFT AND RIGHT SLIDE PANELS */
/*===============================================*/	
.panel { /*展开面板的设置*/
z-index: 1000; /*指定堆叠顺序*/
display: none;
-webkit-box-sizing: border-box;/* Safari b-b为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制。 */
-moz-box-sizing: border-box;/* Firefox */
box-sizing: border-box; /* common */
overflow: auto;/* 规定溢出内容如何处理：如果剩下内容被砍，则显示滚动条 */
-webkit-overflow-scrolling: touch; /*属性控制元素在移动设备上是否使用滚动回弹效果.使用具有回弹效果的滚动, 当手指从触摸屏上移开，内容会继续保持一段时间的滚动效果。继续滚动的速度和持续的时间和滚动手势的强烈程度成正比。同时也会创建一个新的堆栈上下文。*/
position: absolute;
width: 300px;
top: 0;
height: 100%;
-webkit-transform: translate3d(0, 0, 0); /*CSS3中3D位移，分别代表xyz*/
transform: translate3d(0, 0, 0);
-webkit-transition-duration: 400ms;
transition-duration: 400ms;/*规定完成过渡效果需要花费的时间*/
color:#222222;
}
.panel-left, .pagepanel{/*展开面板的底色*/
background-color:#5cd1ea;
}
.panel-right{
background-color:#5cd1ea;
}

/* 6-1. USER ACCOUNT SIDEBAR RIGHT */

.user_login_info{ /*右边面板登录信息*/
padding:0px;
}
.user_thumb{
width:100%;
margin:auto;
position:relative;
}
.user_thumb img{
display:block; /*规定元素应该生成的框的类型。block前后会带有换行符*/
max-width:100%; /*max-width 定义元素的最大宽度。*/
z-index:777; /*指定一个元素的堆叠顺序，数字大在上，小在下*/
}
.user_details{/*欢迎文字*/
position:absolute;
bottom:0px;
left:0px; /*当前元素的左侧与父元素左侧(就是原来默认位置)的距离值。*/
width:100%;/*设置元素的宽度*/
height:132px;/*设置元素的高度*/
z-index:888;
background:url(../img/trans_black_gradient.png) repeat-x;
}
.user_details p{/*欢迎文字*/
padding:70px 0 0 10px;/*内边距*/
text-align:left;
font-size:14px;
color:#5cd1ea;
}
.user_details p span{/*欢迎文字*/
display:block;/*规定元素应该生成的框的类型。block前后会带有换行符*/
font-size:22px;
padding:5px 0 0 0;
color:#ffffff;
}
.user_avatar{ /*个人中心头像*/
z-index:999;
position:absolute;
bottom:15px;
right:15px;
width:30%;
}
.user_avatar img{/*个人中心头像*/
display:block;
max-width:100%;
margin:10px 0 0 0;
border-radius:50%;/*图片圆角*/
}
.user-nav{/*个人中心菜单*/
padding:20px 5% 0 5%;
width:90%;
}
.user-nav ul{/*个人中心菜单*/
width:100%;
list-style:none;
padding:0px;
margin:0px;
display:block;
}
.user-nav ul li{/*个人中心菜单*/
width:90%;
list-style:none;
padding:5px 0 10px 0;
margin:0 0 0 5%;
display:inline-block; /*既有block的宽度高度特性，又有inline的同行特性*/
text-align:center;
border-bottom:1px #48b9d1 solid; /*下边框*/
} 
.user-nav ul li img{ /*个人中心列表图片*/
display:inline-block;
max-width:12%;
float:left;
}
.user-nav ul li span{ /*个人中心列表名字*/
display:block;
float:left;
text-align:left;
padding:5px 0 0 20px;
}
.user-nav ul li strong{ /*个人中心消息圆气泡*/
display:block;
float:right;
text-align:left;
margin:0 5px 0 0;
width:30px;
height:30px;
line-height:30px; /*行间距*/
text-align:center;
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px; /*圆角*/
background-color:#222222;
color:#fff;
}
.user-nav ul li a{/*个人中心菜单*/
color:#fff;
font-size:14px;
font-weight:300; /*文本粗细*/
color:#222222;
}

/* 6-2. MAIN NAVIGATION SIDEBAR LEFT */

.main-nav{ /*左边菜单*/
padding:0 0 0 0px;
width:100%;
}
.main-nav ul{ /*左边菜单的列表样式*/
width:90%;/*左边菜单的列表content部分宽度*/
list-style:none;
padding:0px;
margin:5%;
display:block;
}
.main-nav.icons_31 ul li{ /*左边菜单的列表图标样式*/
width:28%;
list-style:none;
padding:15px 0;
margin:2%;
display:inline-block;
text-align:center;
}


.main-nav ul li.subnav{/*理赔中心菜单右上角的小二级菜单*/
background:url(../img/subnav.png) no-repeat right top;
}

.main-nav.icons_31 ul li img{ /*左边菜单*/
display:inline-block;
max-width:40%;
}

.main-nav.icons_31 ul li span{
display:block;
text-align:center;
padding:0 0 0 0;
}


.main-nav ul li a{ /*左边菜单*/
font-size:13px;
font-weight:300;
color:#222222;
}

.subnav_header{ /*子菜单返回*/
width:90%;
margin:0 5%;
float:left;
clear:both;
padding:10px 0;
border-bottom:1px #414141 solid;
}
.subnav_header a{ /*子菜单back*/
display:block;
width:30%;
color:#222222;
}
.subnav_header a img{ /*子菜单返回*/
display:block;
width:30%;
float:left;
}
.subnav_header a span{ /*子菜单返回*/
display:block;
float:left;
padding:0 0 0 5px;
font-weight:300;
font-size:16px;
}

.tc { text-align: center; }


/*===============================================*/
/* 7. PAGES LAYOUT GENERAL */
/*===============================================*/	
.homepage{ /*主页页面*/
background-color:#000;
}
#pages_maincontent{ /*其他页面*/
width:100%;
padding:0 0 30px 0;
margin:0px;
position: absolute; 
top: 70px; 
left: 0; 
right: 0; 
bottom: 0px;
overflow: scroll; /*内容溢出*/
-webkit-overflow-scrolling: touch;
}
#pages_maincontent p{ /*其他页面内容*/
padding:0 0 15px 0;
margin:0px;
clear:both;
}
#pages_maincontent img{ /*其他页面内容*/
display:block;
max-width:100%;
}
.layout_fullwidth{
width:100%;
}
.layout_fullwidth_padding{ /*页面主体内容部分*/
width:90%;
margin:0 5%;
}
.page_single ul.simple_list{ /*二级页面class特别提示*/
padding:0px 0 20px 10px;
margin:0px;
list-style:none;
}
.page_single ul.simple_list li{ /*二级页面class特别提示项*/
margin:0 0 10px 0;
padding:0 0 0 20px;
background:url(../img/bullet.png) no-repeat left;
}

/* 7-1. SWIPE SLIDER */

.swiper-container { /*滑动翻图片*/
height: 100%;/*元素高度*/
}
.swiper-container-pages { /*子页面轮播滑动图片*/
height: auto;
margin: 0 auto 20px auto;
position: relative;
overflow: hidden; /*内容会被修剪，并且其余内容是不可见的。*/
/* Fix of Webkit flickering */
z-index: 1;
}
.swiper-container-team { /*客服中心滑动容器*/
height: auto;
margin: 0 auto 20px auto;
position: relative;
overflow: hidden;
/* Fix of Webkit flickering */
z-index: 1;
}
.swiper-container-toolbar { /*底部导航滑动容器*/
width:94%;
padding:0 3%;
height: auto;
margin:0;
position: fixed;
bottom:0px;
left:0px;
overflow: hidden;
z-index: 999999;
height:60px;
background:url(../img/trans_black.png) repeat;
}
.swiper-slide { /*单个滑动元件。里面可以包含任何HTML*/
width:100%;
text-align:left;
-webkit-background-size: 100%;  /*规定背景图像的尺寸。宽度*/
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; 
background-size: cover; /*把背景图像扩展至足够大，以使背景图像完全覆盖背景区域。背景图像的某些部分也许无法显示在背景定位区域中。*/
background-position:center center; /*定位背景图像*/
}
.toolbar-icon a{ /*底部导航图标a*/
display:block;
width:100%;
height:40px;
text-align:center;
}
.toolbar-icon a img{ /*底部导航图标*/
display:block;
max-height:70%;
margin:10px auto 0 auto;
text-align:center;
}
.slider_trans{ /*设置轮播图片*/
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
z-index:9999;
background:url(../img/trans_black.png) repeat;
}
.slider-caption{ /*首页轮播的标题与button*/
/*width:90%;*/
position:absolute;
bottom:30%;
left:0px;
z-index:99999;
padding:0 5%;
/*text-align:center;*/
}
.slidertoolbar .slider-caption{ /*首页轮播的标题位置*/
bottom:30%;	
}
.slider-caption h2{ /*首页轮播的标题*/
width:100%;
display:block;
padding:0px;
margin:0;
font-size:75px;
font-weight:900;
letter-spacing:-1px; /*字符间距*/
color:#5cd1ea;
line-height:85px;
} 

.slider-caption p{ /*首页轮播的小字*/
color:#ffffff;
font-size:16px;
}
.swiper-container > .swiper-pagination { /*所有一代子B元素*/
bottom: 5%;
left: 5%;
width: 95%;
}
.slidertoolbar > .swiper-pagination { /*所有一代子B元素*/
bottom: 70px;
left: 5%;
width: 95%;
}
.swiper-container-pages > .swiper-pagination {/*所有一代子B元素*/
bottom: 5%;
left: 5%;
width: 95%;
}
.swiper-container .swiper-pagination-bullet-active { /*滑动小点*/
opacity: 1;
background: #5cd1ea;
}
.swiper-container-pages .swiper-pagination-bullet-active { /*滑动小点*/
opacity: 1;
background: #5cd1ea;
}
.swiper-pagination-toolbar{ /*底部导航分页视图*/
position: absolute;
bottom: 0;
left: 0;
width: 100%;
text-align:center;
}
.swiper-container-toolbar .swiper-pagination-bullet { /*底部导航滑动分页*/
  width: 4px;
  height: 4px;
  display: inline-block;
  background: #000;
  opacity: 0.2;
  margin:0 2px;
}
.swiper-container-toolbar .swiper-pagination-bullet-active { /*底部导航滑动分页*/
opacity: 1;
background: #000;
}
.swiper-pagination-team, .swiper-pagination-teambigger{ /*客服中心滑动*/
width: 100%;
text-align:center;
}
.swiper-container-team .swiper-pagination-bullet { /*客服中心滑动小点*/
  width: 4px;
  height: 4px;
  display: inline-block;
  background: #000;
  opacity: 0.2;
  margin:0 2px;
}
.swiper-container-team .swiper-pagination-bullet-active { /*客服中心滑动小点*/
opacity: 1;
background: #000;
}
.swiper-button-next{ /*下一页轮播图*/
	background-image:url(../img/nav-next.png); 
	width: 15px;
    height: 29px;
	background-size: 15px 29px;	
	z-index:99999
}
.swiper-button-prev{ /*上一页轮播图*/
	background-image:url(../img/nav-prev.png); 
	width: 15px;
    height: 29px;
	background-size: 15px 29px;	
	z-index:99999
}
a.swiper_read_more{ /*首页button及read more的button*/
color:#ffffff;
padding:10px 20px;
text-decoration:none; /*文本修饰*/
margin:10px 0 0 0;
display:inline-block;
font-size:14px;
font-weight:400;
background-color: #eb4a7b;
}

/* 7-2. FEATURED LISTS */

ul.features_list{ /*二级页面导航*/
padding:0 0 20px 0;
width:100%;
margin:0px;
list-style:none;
float:left;
clear:both;
}
ul.features_list li{ /*二级页面导航项*/
border-bottom:1px #e6e6e6 solid;
padding:0 2% 20px 2%;
margin:0 0 20px 0;
display:block;
width:43%;
float:left;
font-size:18px;
}
ul.features_list li:nth-child(even){ /*ul的偶数个子元素的每个 li */
float:right;
}
ul.features_list li a{ /*导航每个li的a */
color:#000;
padding:0px;
margin:0px;
}
ul.features_list li img{ /*导航每个li的icon */
display:inline-block;
width:10%;
float:left;
margin:0px;
padding:0px;
}
ul.features_list li span{ /*导航每个li的文字标题*/
display:inline-block;
max-width:90%;
padding:2% 0 0 5%;
font-weight:400;
float:left;
}

/* 7-3. TEAM DESIGN LAYOUT */

.team-block{ /*客服中心滑动项*/
width:46%;
background-color:#f7f7f7;
text-align:center;
padding:20px 0 0 0;
}
.team-block a img{ /*客服中心滑动项*/
display:block;
width:50%;
border-radius:50%;
margin:auto;
}
.team-block strong{ /*客服中心滑动项*/
display:block;
font-weight:700;
font-size:15px;
padding:10px 0;
}
.team-block span{ /*客服中心滑动项*/
display:block;
font-weight:300;
font-size:14px;
letter-spacing:0.5px;
background-color:#5cd1ea;
padding:10px 0;
}

/*===============================================*/
/* 8. POPUPS */
/*===============================================*/	
.popup{ /*弹出*/
background-color:#FFFFFF; 
}
.popup h4{/*弹出*/
color:#222222;
font-size:22px;
font-weight:700;
text-align:center;
padding:0 0 20px 0;
margin:0px;
}
.popup h5{/*弹出*/
color:#222222;
font-size:14px;
font-weight:300;
text-align:center;
padding:20px 0 10px 0;
margin:0px;
}
.popup p{/*弹出*/
text-align:center;
padding:0px 0 20px 0;
margin:0px;
font-size:14px;
}
.content-block { /*登录内容块*/
padding:75px 10% 0 10%;
}
ul.social_share{ /*联系客服popup*/
list-style:none;
padding:10px 0 0 0;
margin:0px;
}
ul.social_share li{/*联系客服popup*/
width:32%;
text-align:center;
display:inline-block;
padding:15px 0;
margin:0px;
}
ul.social_share li img{/*联系客服popup*/
width:50%;
display:block;
margin:auto auto 10px auto;
}
ul.social_share li a{/*联系客服popup*/
color:#222222;
font-size:12px;
font-weight:900;
}

.close_popup_button{ /*关闭popup按钮*/
display:block;
}
.close_popup_button a{/*关闭popup按钮*/
display:inline-block;
width:60px;
height:60px;
margin:auto;
padding:0;
text-align:center;
position:absolute;
top:10px;
right:0px;
}
.close_popup_button a img{/*关闭popup按钮*/
display:block;
max-width:60%;
margin:auto; 
}
/*===============================================*/
/* 9. SHOP LAYOUT */
/*===============================================*/
ul.shop_items{ /*商城列表*/
padding:0;
width:100%;
margin:0px;
list-style:none;
float:left;
clear:both;
}
ul.shop_items li{ /*商城列表项*/
padding:0 0 15px 0;
margin:0 0 15px 0;
display:block;
width:100%;
float:left;
clear:both;
border-bottom:1px solid #e4e4e4;
position:relative;
}
ul.shop_items li .shop_thumb{ /*商城列表项图*/
width:30%;
float:left;
padding:0;
margin:0;
}
ul.shop_items li .shop_thumb img{ /*商城列表项图*/
display:inline-block;
max-width:100%;
margin:0px;
}
.shop_item_details h3{ /*商城列表项内容*/
font-weight:400;
font-size:16px;
padding:0;
margin:0px;
width:100%;
clear:both;
border-bottom:1px #ddd solid;
padding:10px 0;
margin:0 0 15px 0;
}
ul.shop_items li .shop_item_details h4{ /*商品详情内容*/
font-weight:900;
font-size:16px;
padding:0;
margin:0px;
}
ul.shop_items li .shop_item_details h4 a{ /*商品详情内容*/
color:#2a3452;
}
ul.shop_items li .shop_item_details{ /*商品详情内容*/
width:65%;
float:left;
padding:0 0 0 5%;
}
ul.shop_items li .shop_item_details p{ /*商品详情内容*/
padding:0 0 10px 0;
margin:0px;
}
ul.shop_items li .shop_item_price{ /*商城列表项价格*/
font-size:12px;
font-weight:900;
padding:5px 0 10px 0;
}
ul.shop_items li a#addtocart{ /*添加到购物车*/
width:50%;
float:right;
color:#222222;
background-color:#5cd1ea;
display:inline-block;
padding:10px 0;
text-align:center;
font-size:12px;
font-weight:300;
}
ul.shop_items li a.shopfav{ /*商城列表项联系客服icon*/
position:absolute;
top:15px;
right:0px;
z-index:9999;
width:25px;
}
ul.shop_items li a.shopfav img{ /*商城列表项联系客服icon*/
width:100%;
display:block;
}
.shop_pagination{ /*商城列表分页*/
width:100%;
clear:both;
margin:25px 0;
float:left;
}
.shop_pagination a{ /*商城列表分页上一页下一页*/
display:block;
padding:10px 0;
text-align:center;
width:40%;
font-size:12px;
font-weight:900;
}
.shop_pagination span.shop_pagenr{ /*商城列表分页1/3*/
width:18%;
display:block;
float:left;
text-align:center;
padding:10px 0;
}
a.prev_shop{ /*商城列表分页上一页*/
float:left;
}
a.next_shop{ /*商城列表分页下一页*/
float:right;
}

/* 9-1. SHOP ITEM PAGE */

.shop_item{ /*商品详情*/
width:100%;
}
.shop_item h4{ /*商品详情*/
width:100%;
padding:5px 0;
font-size:14px;
margin:5px 0 20px 0;
clear:both;
font-weight:400;
}
.shop_item .shop_thumb{ /*商品详情图*/
width:100%;
padding:0;
margin:0;
position:relative;
}
.shop_item a#addtocart{ /*商品详情添加到购物车*/
width:100%;
color:#fff;
display:block;
padding:15px 0;
text-align:center;
font-size:14px;
font-weight:900;
clear:both;
}
.shop_item .shop_item_details{ /*商品详情内容*/
width:100%;
padding:0;
}
.shop_item .shop_item_price{ /*商城列表项价格*/
position:absolute;
top:10px;
right:10px;
color:#222222;
width:50px;
height:50px;
line-height:50px;
border-radius:50%;
font-size:14px;
font-weight:300;
text-align:center;
padding:0;
background-color:#5cd1ea;
}
.shop_item a.shopfav{ /*商品详情联系客服*/
position:absolute;
bottom:10px;
right:20px;
z-index:9999;
width:10%;
}
.shop_item a.shopfriend{ /*商品详情联系客服*/
position:absolute;
bottom:10px;
right:25%;
z-index:9999;
width:10%;
}
.shop_item a.shopfav img, .shop_item a.shopfriend img{ /*商品详情联系客服*/
width:100%;
display:block;
}
.size_selectors{ /*商品详情产品挡位选择*/
width:100%;
margin:0 0 20px 0;
float:left;
display:block;
}
.size_selectors label { /*商品详情产品挡位选择*/
display:inline-block;
width:18%;
float:left;
cursor: pointer;
padding:10px 0 10px 0;
margin:0 1% 0 0;
font-size:14px;
text-align:center;
}
.size_selectors input[type=radio] { /*商品详情产品挡位选择*/
display: none;
}
.size_selectors input[type=radio] + label { /*商品详情产品挡位选择*/
display: block;
border:1px #ebebeb solid;
color:#375a70;
}
.size_selectors input[type=radio]:checked + label { /*商品详情产品挡位选择，选中*/
background-color:#5cd1ea;
}

.shop_pagination a{
border: 1px solid #222222;
color: #222222;
}
h4.checkout_title{ /* viewclaim指引标题 */
width:93%;
margin:0 0 20px 0;
padding:10px 0 10px 5%;
background-color:#f7f7f7;
float:left;
clear:both;
font-size:14px;
font-weight:700;
border-left:5px solid #5cd1ea;
}
 .order_item{ /* view claim每一列 */
width:100%;
float:left;
clear:both;
border-bottom:1px solid #d6d6d6;
padding:5px 0;
margin:0 0 10px 0;
}
.order_item_thumb{
width:20%;
float:left;
clear:both;
}
.order_item_thumb img{
max-width:80%;
display:block;
}
.order_item_title{ /* view claim每一列标题的内容 */
width:60%;
float:left;
padding:5px 0 15px 0;
}
.order_item_title span{/* view claim每一列标题 */
font-weight:900;
}
.order_item_price{ /* view claim每一列内容，右边 */
width:20%;
text-align:center;
padding:5px 0;
float:right;
color:#1b1b25;
font-size:12px;
font-weight:900;
letter-spacing:0.5px;
}
.checkout_select{
padding:10px 0 20px 5%;
}
.carttotal{
width:90%;
float:right;
clear:both;
padding:0 0 20px 0;
}
.carttotal_full{ /*viewcase理赔金额*/
width:100%;
float:left;
clear:both;
padding:0 0 20px 0;
}
.carttotal_row{
width:100%;
float:left;
clear:both;
padding:5px 0;
border-bottom:1px #3d3e50 solid;
}
.carttotal_row_full{ /*viewcase理赔金额结算每一列*/
width:100%;
float:left;
clear:both;
padding:8px 0;
border-bottom:1px #d6d6d6 solid;
}
.carttotal_row_last{ /*viewcase理赔金额最后结算*/
width:100%;
float:left;
clear:both;
padding:5px 0;
font-size:17px;
font-weight:900;
}
.carttotal_left{ /*viewcase理赔金额结算每一列标题*/
width:60%;
float:left;
text-align:left;
}
.carttotal_right{ /*viewcase理赔金额结算每一列金额*/
width:40%;
float:left;
text-align:right;
}
a.checkout{
width:100%;
clear:both;
display:block;
float:left;
padding:15px 0; 
margin:15px 0; 
font-weight:normal;
text-align:center;
cursor:pointer; 
font-size:14px;
color:#FFFFFF;
-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
border: none;
cursor:pointer;
-webkit-appearance: none;
}
/* 9-3. SUCCESS PAGE */
.success_message{ /*提交成功*/
width:100%;
text-align:center;
font-size:24px;
font-weight:300;
color:#2d2e3e;
padding:20px 0 0 0;
}
.success_message img{ /*提交成功*/
text-align:center;
display:inline-block;
margin:20px auto;
}
.success_message span{ /*提交成功*/
font-weight:900;
font-size:40px;
display:block;
}
.success_message p{/*提交成功*/
line-height:35px;
}

/*===============================================*/
/* 11. BLOG LAYOUT */
/*===============================================*/	
.list-block { /*class手风琴菜单*/
margin:0px 0;
}
.list-block ul::before { /*class手风琴菜单，伪元素，在元素内容ul的最前面添加新内容。*/
content: '';
position: absolute;
left: 0;
top: 0;
bottom: auto;
right: auto;
height: 1px;
width: 100%;
background-color: #fff;
}
.list-block ul::after { /*class手风琴菜单，伪元素，在元素内容ul的最后面添加新内容。*/
background-color: #fff;
}
.list-block li{  /*class手风琴菜单，每一项内容*/
border-bottom:1px #f0f0f0 solid;
margin:0;
}
.list-block .item-content { /*class手风琴菜单，每一项内容，点击*/
padding-left:0px;
padding-top:10px;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a { /*向左/右滑动的按钮和链接的容器*/
padding:0 10px;
margin:0 0 0 0px;
color: #000;
text-align:center;
}
.list-block .swipeout-actions-right a:nth-child(1){ /*向右滑动的按钮和链接的容器第一个a*/
background:#5cd1ea;
}
.list-block .swipeout-actions-right a:nth-child(2){ /*向右滑动的按钮和链接的容器第二个a*/
background:#efe907;
}
.list-block .swipeout-actions-right a:nth-child(3){ /*向右滑动的按钮和链接的容器第三个a*/
background:#e3de0f;
}
#pages_maincontent .list-block .swipeout-actions-left a img,
#pages_maincontent .list-block .swipeout-actions-right a img{
display:inline-block;
width: 40%;
margin:auto;
}
.post_thumb{ /*资讯列表图片*/
width:25%;
float:left;
}
.post_thumb img{  /*资讯列表图片*/
display:inline-block;
max-width:100%;
}
.post_details{ /*资讯列表信息*/
width:62%;
float:left;
margin:0 0 0 4%;
}
.post_details h2{ /*资讯列表来源信息*/
font-size:14px;
line-height:20px;
font-weight:400;
margin:10px 0 10px 0;
padding:0px;
}
.post_category a{ /*资讯列表信息标题*/
font-size:15px;
background-color:#5cd1ea;
padding:0 10px;
display:inline-block;
}

.post_swipe{ /*资讯列表滑动菜单icon*/
width:6%;
height:100%;
position:absolute;
right:0px;
top:0px;
background-color:#f7f7f7;
}
.post_swipe img{ /*资讯列表滑动菜单icon*/
position: relative;
top: 50%;
transform: translateY(-50%);
margin:auto;
}
.post_details span, .post_single span{ /*资讯详情内容*/
display:inline-block;
padding:0 5px;
}

.post_single span.post_date{ /*资讯详情日期内容*/
background:url(../img/date.png) no-repeat left;
padding:10px 0 5px 25px;
margin:0 0 0 0;
}
.post_single span.post_author{ /*资讯详情来源内容*/
background:url(../img/author.png) no-repeat left;
padding:10px 0 5px 25px;
margin:0 0 0 10px;
}
.post_single span.post_comments{ /*资讯详情评论数*/
background:url(../img/comments.png) no-repeat left;
padding:10px 0 5px 23px;
margin:0 0 0 10px;
}

.post_single{
border-bottom:1px #f0f0f0 solid;
padding:10px 0 10px 0;
margin:0 0 20px 0;
}
.post_single img{
display:block;
max-width:100%;
margin:0 0 20px 0;
}
a.backto{ /*返回icon*/
width:10%;
float:left;
margin:10px 0 0 5%;
}
a.backto img{/*返回icon*/
width:70%;
display:block;
}
ul.comments{
list-style:none;
padding:0px;
margin:0px;
}
ul.comments li{
list-style:none;
float:left;
clear:both;
padding:5% 5% 0 5%;
margin:0px 0 10px 0;
background-color:#f0f0f0;
}
.comm_avatar{
width:15%;
display:inline-block;
float:left;
}
.comm_avatar img{
display:inline-block;
max-width:100%;
}
.comm_content{
width:80%;
float:left;
display:inline-block;
padding:0 0 0 5%;
}
.comm_content p{
padding:0px;
margin:0px;
font-style:italic;
}


/*===============================================*/
/* 12. FORMS */
/*===============================================*/	
/* 12.1 LOGIN FORM */
.loginform{ /*登录*/
width:90%;
padding:0 0 15px 5%;
}
.loginform label.error{ /*错误提示信息*/
padding:0 0 20px 0; 
margin:0px;
line-height:10px;
width:100%; 
text-align:left; 
font-size:14px;
color:#f65821;
font-weight:400;
clear:both; /*图像的左侧和右侧均不允许出现浮动元素*/
float:left;
}
.loginform input.form_input{ /*每一个input*/
padding:10px 3%; 
width:93%; 
margin:0 0 15px 0;
border-bottom:1px solid #d5d5d5; /*分割线*/
border-left:none;
border-right:none;
border-top:none;
background-color:#ffffff;
color:#000000;
-webkit-appearance: none; /*使元素看上去像标准的用户界面元素*/
}
.loginform input.form_input:focus{ /*伪类将应用于拥有键盘输入焦点的元素。*/
 background-color:#f5f5f5;
}
.loginform .form_select{ /*每一个select*/
padding:2% 3%; 
width:100%; 
margin:20px 0 10px 0;
border-bottom:1px solid #d5d5d5;
border-left:none;
border-right:none;
border-top:none;
-webkit-appearance: none;
color:#000000;
background:url(../img/dropdown.png) no-repeat right;
}
.loginform .form_select option{ 
padding:3px;
}
.loginform input.form_submit{ /*登录/注册按钮*/
width:100%;
padding:12px 0; 
margin:10px 0 0 0; 
text-align:center;
cursor:pointer; /*要显示的光标的类型（形状）：一只手*/
font-size:18px;
font-weight:300;
color:#222222;
border: none;
cursor:pointer;
-webkit-appearance: none;
 background-color:#5cd1ea;
}

.signup_bottom{/*没有帐户？注册按钮*/
width:100%;
text-align:center;
padding:30px 0 0 0;
}
.signup_bottom p{ /*没有帐户？*/
opacity: 1;
padding:0px 0 10px 0;
font-size:16px;
}
.signup_bottom a{ /*进入注册按钮*/
background-color:#7cbe55;
color:#fff;
font-weight:300;
font-size:16px;
padding:5px 10px;
border-radius:15px;
}


/* 12.2 CLAIM FORM */

.contactform{  /*发起理赔表单*/
width:100%;
padding:0 0 15px 0;
}
.contactform label{ /*发起理赔表单-label名*/
width:100%;
padding:5px 0 3px 0; 
display:block; 
font-size:16px;
font-weight:700;
}
.contactform label.error{ /*发起理赔表单-错误信息*/
padding:0 0 10px 0; 
width:100%; 
text-align:left; 
font-size:14px;
color:#f65821;
font-weight:400;
}
.contactform input.form_input{ /*发起理赔表单-input field*/
padding:3%; 
width:93%; 
margin:0 0 5px 0;
border:1px solid #ddd;
}
.contactform select.form_select{ /*发起理赔表单-select field*/
padding:3%; 
width:100%; 
margin:0 0 5px 0;
border:1px solid #ddd;
}

.contactform textarea.form_textarea{
padding:3%; 
width:93%; 
height:50px; 
margin:0 0 5px 0;
border:1px solid #ddd;
}

.contactform input.form_submit{  /*发起理赔表单-submit按钮*/
width:100%;
padding:4% 0 4% 0; 
margin:10px 0 0 0; 
font-weight:normal;
text-align:center;
cursor:pointer; 
font-size:20px;
background-color:#5cd1ea;
color:#222222;
border: none;
cursor:pointer;
}
h2#Note{ /*我要留言页*/
	display:none;
}

/*===============================================*/
/* 13. TABS & ACCORDION & TABLES */
/*===============================================*/	
.tabs-animated-wrap, .tabs-simple{ /*标签容器。对标签页切换加上简单的动画过渡的容器*/
position: relative;
width: 100%;
overflow: hidden;
height: auto;
margin:20px 0 0 0;
}
.tab h4{
padding:0 0 10px 0;
margin:0px;
font-size:16px;
}

/*===============================================*/
/* 14. MEDIA QUERIES */
/*===============================================*/	
/* -------------SMALL DESKTOP--------- */
@media screen and (max-width: 1200px) {
.logo_image a img{ /*small desktop顶部栏logo*/
max-width:100%;
padding:15px 0 0 0;
}
}
/* -------------TABLET PORTRAIT--------- */
@media screen and (max-width: 780px) {
.navbarpages{ /*平板电脑端顶部栏*/
height:60px;
}
.logo_image a img{ /*tablet顶部栏logo*/
max-width:100%;
padding:15px 0 0 0;
}
.navbar_center{
width:80%;
}
#pages_maincontent{  /*tablet其他页面内容*/
top: 60px; 
}
.navbar_right, .navbar_left{ /*tablet端的菜单及个人中心icon*/
width:60px;
height:60px;
}
.slider-caption h2{ /*tablet首页轮播的标题*/
font-size:55px;
line-height:65px;
} 
.slider-caption span.subtitle{ /*首页轮播的次标题-废弃*/
font-size:18px;
}
blockquote{
font-size:15px;
line-height:22px;
}
blockquote span{
font-size:14px;
line-height:22px;
} 
ul.features_list li{ /*tablet二级页面导航*/
width:96%;
clear:both;
font-size:14px;
padding:0 2% 15px 2%;
margin:0 0 15px 0;
}
ul.features_list li:nth-child(even){ /*tablet ul的偶数个li*/
float:left;
}
ul.features_list li span{ /*tablet二级页面导航文字*/
padding:2% 0 0 5%;
font-weight:700;
}

a.button_full{ /*tablet通用大按钮*/
padding:10px 0;
}

}
/* -----------------MOBILE---------------- */
@media screen and (max-width: 680px) {
.swiper-container {
height: 100%;
}
/* 5.1 TOP NAVIGATION AND HEADER */
.navbarpages{ /*手机端顶部栏*/
height:50px;
}
.logo_text{ 
font-size:22px;
line-height:50px;
}
.toolbar-icon a img{ /*手机模式底部导航图标*/
margin:20% auto 0 auto;
}
.navbar_center{
width:77%;
}
/* HEADER RIGHT */	
.navbar_right, .navbar_left{ /*手机端的icon*/
width:55px;
height:50px;
}
.navbar_right img, .navbar_left img{ /*手机端的icon图*/
max-width:40%;
padding:12px 0 0 0;
}
#pages_maincontent{ /*mobile其他页面内容*/
top: 50px; 
}
.slider-caption{ /*mobile首页轮播的标题*/
bottom:20%;
}
.slider-caption h2{ /*mobile首页轮播的标题*/
font-size:32px;
line-height:35px;
} 
.slider-caption span.subtitle{ /*mobile首页轮播的次标题-废弃*/
font-size:16px;
} 
.slider-caption p{ /*mobile首页轮播的小字*/
font-size:14px;
}
/* PANEL RIGHT AND LEFT 设置左右展开面板 */
.panel {
width: 85%;
}
.panel.panel-left.panel-cover {
  left: -85%;
}
.panel.panel-left.panel-reveal {
  left: -85%;
}
.panel.panel-right.panel-cover {
  right: -85%;
}
.panel.panel-right.panel-reveal {
  right: -85%;
}
body.with-panel-left-reveal .views { /**打开面板，body会生成的类with-panel-left-reveal（显示；覆盖为：cover），来确定面板已经打开*/
  -webkit-transform: translate3d(85%, 0, 0);
  transform: translate3d(85%, 0, 0);
}
body.with-panel-left-reveal .panel-overlay { /**左边打开时覆盖*/
  margin-left: 85%; /**向右覆盖85%*/
}
body.with-panel-left-cover .panel-left {
  -webkit-transform: translate3d(85%, 0, 0);
  transform: translate3d(85%, 0, 0);
}
body.with-panel-right-reveal .views {
  -webkit-transform: translate3d(-85%, 0, 0);
  transform: translate3d(-85%, 0, 0);
}
body.with-panel-right-reveal .panel-overlay { /**右边打开时覆盖*/
  margin-left: -85%; /**向左覆盖85%*/
}
body.with-panel-right-cover .panel-right {
  -webkit-transform: translate3d(-85%, 0, 0);
  transform: translate3d(-85%, 0, 0);
}
h2.page_title{ /*手机端子页面标题*/
font-size:16px;
line-height:25px;
font-weight:400;
padding:5px 0;
}
.content-block { /*手机端登录内容块*/
padding:25px 5%;
}

}
@media screen and (max-width: 530px) {
.navbar_center{
width:72%;
}
}
/* -----------------SMALL MOBILE---------------- */
@media screen and (max-width: 470px) {
.navbar_center{
width:65%;
}
.logo_image a img{ /*手机端顶部栏logo*/
display:inline-block;
max-width:80%;
padding:5px 0 0 0;
}	

}
/* -----------------SMALLER MOBILE---------------- */
@media screen and (max-width: 360px) {	
.navbar_center{
width:63%;
}

}
